%section#forth-form
  %h2 会員情報登録完了
  .l-single-content
    .form-group
      .text-center
        ありがとうございます。<br>
        会員登録が完了しました。
    .form-group
      = button_to "メルカリをはじめる！",root_path,type: :button,class: 'btn-red'