-if current_user.credit
  - breadcrumb :credit_new
-else
  - breadcrumb :credit_index
= render 'items/header'
.container.clearfix
  .profile-container
    .card-index
      %h2.profile-container__head 登録カード一覧
      .l-single-inner
        %p
          クレジットカード一覧
        -if @num
          %section.settings-add-card
            .l-single-content
              .card-number
                =@num
              .card-exp-month
                =@exp_month
              .card-exp-year
                =@exp_year
              =link_to "削除する",user_credit_path(current_user,current_user.credit),method: :delete
        -else
          %section.settings-add-card
            .l-single-content
              =link_to "クレジットカードを追加する",new_user_credit_path(current_user)
  = render partial:'sidebar'