.single-container
  %main
    %section
      %h2 会員情報登録
      .l-single-inner
        .l-single-content#third-form
          .form-group
            .text-center
              ありがとうございます。<br>
              会員登録が完了しました。
          .form-group
            = link_to "メルカリをはじめる！",root_path,type: :button,class: 'btn-red'


