.container.clearfix
  .profile-container
    %h2.profile-container__head
      プロフィール
    =form_for @user do |f|
      .setting-profile-icon
        =image_tag"member_photo.png",width:60,height:60
        =f.text_field :nickname
      .setting-profile-content
        =f.text_area :profile_detail
        =f.submit :変更する,class: 'submit_button'
  = render partial:'sidebar'
