=javascript_include_tag 'category.js'

#header-category-box.header-category-box{style:"display:none"}
  .category-in
    .header-category-box
      = render @categories
    #header-child-category-box.header-child-category-box{style:"display:none"}
    #header-grand-child-category-box{style:"display:none"}
