%footer.global-footer
  %nav
    .footer-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          =link_to "" do
            会社概要(運営会社)
        %li
          =link_to "" do
            採用情報
        %li
          =link_to "" do
            プレスリリース
        %li
          =link_to "" do
            公式ブログ
        %li
          =link_to "" do
            メルカリロゴ利用ガイドライン
        %li.footer-social-link
          =link_to "" do
            %i.fa.fa-twitter
        %li.footer-social-link
          =link_to "" do
            %i.fa.fa-facebook-square
    .footer-cell
      %h2.footer-head ヘルプ＆ガイド
      %ul
        %li
          =link_to "" do
            メルカリガイド
        %li
          =link_to "" do
            らくらくメルカリ便
        %li
          =link_to "" do
            ゆうゆうメルカリ便
        %li
          =link_to "" do
            大型メルカリ便
        %li
          =link_to "" do
            車体取引ガイド
        %li
          =link_to "" do
            メルカリあんしん・あんぜん宣言！
        %li
          =link_to "" do
            偽ブランド品撲滅への取り組み
        %li
          =link_to "" do
            メルカリボックス
    .footer-cell
      %h2.footer-head プライバシーと利用規約
      %ul.full-width
      .inner-footer-cell
        %ul
          %li
            =link_to "" do
              プライバシーポリシー
          %li
            =link_to "" do
              メルカリ利用規約
          %li
            =link_to "" do
              メルカリ利用規約・有償ポイントに関する特約
          %li
            =link_to "" do
              あんしんスマホサポート制度に関する利用特約
          %li
            =link_to "" do
              コンプライアンスポリシー
      .inner-footer-cell
        %ul
          %li
            =link_to "" do
              個人データの安全管理に係る基本方針
          %li
            =link_to "" do
              特定商取引に関する表記
          %li
            =link_to "" do
              資金決済法に基づく表示
          %li
            =link_to "" do
              法令順守と犯罪抑止のために
          %li
            =link_to "" do
              返品・返金ポリシー

    .footer-cell
      %h2.footer-head 国
      %ul.footer-nav-lang
        %li
          =link_to "" do
            日本
        %li
          =link_to "" do
            United States

  .footer-bottom
    =link_to "" do
      =image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?3112359103", size: "124*33")
    %span.footer-copyright
      %small ©︎ 2019 Mercari
