.default-container
  .header
    .header__inner
      .header__inner__flex
        .header__inner__flex__left
          = link_to root_path do
            = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3112359103", width: "134", height: "36")
        .header__inner__flex__right-form
          =form_tag('/items/search', method: :get) do
            =text_field_tag(:keyword, "", class: "input-search", placeholder: "何をお探しですか？")
            =button_tag'<i class="fa fa-search"></i>'.html_safe, type: "submit",class: "btn-search"

      .header__inner__nav-box
        .header__inner__nav-box__left
          %ul.header__inner__nav-box__left__item-nav
            %li
              %h2
                =link_to "", class: "header-nav-root" do
                  カテゴリーから探す
            %li
              %h2
                =link_to "", class: "header-nav-root" do
                  ブランドから探す
        .header__inner__nav-box__right
          %ul.header__inner__nav-box__right__user-nav
            %li
              .header-user-icon
                -if user_signed_in?
                  =link_to identification_user_path(current_user) do
                    .icon
                      =image_tag("https://static.mercdn.net/images/member_photo_noimage_thumb.png", width: "32")
                    %div マイページ
            %li
              .header-nav-root
                =link_to "" do
                  %i.fa.fa-bell-o
                  %span お知らせ
            %li
              .header-nav-root
                =link_to "" do
                  %i.fa.fa-check
                  %span やることリスト
                  =link_to "ログアウト",destroy_user_session_path,method: :delete
                  =link_to "ログイン",new_user_session_path
                  =link_to "新規会員登録",sign_up_list_path
                  %p.user_name
                    - if user_signed_in?
                      = current_user.nickname
:css
  .user_name{
  font-size: 14px;
  }