%section.items-box
  / -if item.buyer_id != nil
  /   .sold-badge
  /     .sold SOLD
  = link_to item_path(item.id) do
    .figure.items-box-photo
      - item.pictures.first(1).each do |picture|
        =image_tag(picture.image.url, class: 'main-image' )

    .items-box-body
      %h3.items-box-name.font-2
        = item.name
      .items-box-num.clearfix
        .items-box-price.font-5
          = "¥ #{number_with_delimiter(item.price)}"
        .items-box-likes.font-2
          %i.fa.fa-heart
          %span
            8
      %p.items-box-tax
        (税込)


