.l-single-container {
  width: 620px;
  background: $white;
  margin: 40px auto 0;
  padding: 24px 40px 40px;
  .item-name {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: 600;
  }
  .item-box-container__main-content {
    margin: 16px 0 0;
    &__photo {
      position: relative;
      float: left;
      min-width: 300px;
      max-width: 300px;
      min-height: 375px;
      margin: 0 auto;
      background: background-photo;
      .owl-carousel {
        position: relative;
        .owl-stage {
          position: relative;
          overflow: hidden;
          .owl-stage-outer {
            position: relative;
            .owl-item {
              min-height: 1px;
              float:left;
              &__inner {
                position: relative;
                width: 100%;
                height: 0;
                padding: 0 0 100%;
                .owl-lazy {
                  transition: opacity 400ms;
                }
                img {
                  position: absolute;
                  top: 0;
                  right:0;
                  bottom: 0;
                  left: 0;
                  max-height: 300px;
                  width: 100%;
                }
              }
            }
          }
        }
        .owl-dots {
          line-height: 0;
          font-size: 0;
          .owl-dot {
            position: relative;
            overflow: hidden;
            display: inline-block;
            width: 75px;
            height: 75px;
            opacity: 0.4;
            cursor: pointer;
            .owl-dot-inner {
              overflow: hidden;
              position: static;
              width: auto;
              height: 100%;
              padding: 0;
              pointer-events: none;
              img {
                height: 100%;
                width: 100%;
                vertical-align: bottom;
              }
            }
          }
        }
      }
    }
    .item-detail-table {
      float: right;
      max-width: 300px;
      height: 375px;
      margin: 0 auto;
      font-size: 14px;
      border-collapse: collapse;
      a:hover {
        text-decoration: underline;
        opacity: 0.5;
      }
      th {
        width: 40%;
        text-align: left;
        font-weight: 400;
        background: #fafafa;
        padding: 8px;
        border: 1px solid $gray;
      }
      td {
        width: 60%;
        padding-left: 5px;
        border: 1px solid $gray;
        padding: 8px;
        a {
          float: left;
        }
      }
    }
  }
  .item-user-rates {
    display: flex;
    float: left;
    &__ratings:first-child {
      margin: 0;
    }
    &__ratings {
      display: inline-block;
      margin: 0 0 0 15px;
      .smile-o-pink {
        color: #ef5185;
      }
      .meh-o-orange {
        color: #fba933;
      }
      .frown-o-blue {
        color: #6ab5d8;
      }
      :first-child {
        margin: 8px 0 0 0;
      }
    }
  }
  .item-price-box {
    text-align: center;
    margin: 24px 0 0;
    color: $black;
    .item-price.bold {
      margin: 0 16px 0 0;
      font-size: 50px;
      font-weight: 600;
    }
    .item-tax {
      font-size: 10px;
    }
    .item-shipping-fee {
      display: inline-block;
      font-size: 16px;
      a:hover {
        text-decoration: none;
      }
    }
  }
    .item-buy-btn {
      height: 60px;
      line-height: 60px;
      display: block;
      margin: 16px 0 0;
      background: $red;
      color: $white;
      font-size: 24px;
      text-align: center;
      font-weight: 600;
      text-decoration: none;
    }
    .sold-out {
      background: #888;
      pointer-events: none;
    }
    .item-edit-btn {
      height: 60px;
      line-height: 60px;
      display: block;
      margin: 16px 0 0;
      background: $red;
      color: $white;
      font-size: 24px;
      text-align: center;
      font-weight: 600;
      text-decoration: none;
    }
    .item-delete-btn {
      height: 60px;
      line-height: 60px;
      display: block;
      margin: 16px 0 0;
      background: #ccc;
      color: $white;
      font-size: 24px;
      text-align: center;
      font-weight: 600;
      text-decoration: none;
    }

  .item-description {
    line-height: 1.5;
    padding: 32px 0 0;
    font-size: 18px;
    &__inner {
      white-space: pre-wrap;
    }
  }
  .item-button-container.clearfix {
    margin: 16px 0 0;
    font-size: 0;
    a {
      display: inline-block;
    }
    span {
      display: inline-block;
      margin: 1px 0 0 8px;
      font-size: 14px;
      vertical-align: middle;
    }
    .item-button-left {
      float: left;
      .item-button-like {
        color: $black;
        border: 1px solid $gray;
        background: $gray;
        outline: none;
      }
      .item-button-report {
        margin: 0 0 0 16px;
        text-align: auto;
        color: $black;
        border: 1px solid $gray;
        background: #fafafa;
        outline: none;
      }
    }
    .item-button-right {
      margin: 8px 0 0;
      float: right;
      a:hover {
        opacity: 0.5;
      }
    }
  }
}

.item-detail-message {
  width: 700px;
  margin: 8px auto;
  .message-container {
    .message-content {
      padding: 24px;
      background: $white;
      .message-items {
        margin: 0;
        li:first-child {
          margin: 21px 0 0;
        }
        li {
          margin: 60px 0 0;
        }
        .message-right {
          margin: 60px 0 0;
          .message-user {
            float: right;
            position: relative;
            top: -25px;
            display: inline-block;
            color: #ea352d;
            figure {
              div {
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 50%;
                img {
                  height: 40px;
                  width: 40px;
                  vertical-align: middle;
                }
              }
              figcaption {
                font-weight: 600;
                width: 600px;
                min-width: 600px;
                overflow: hidden;
                position: absolute;
                top: 0;
                min-width: 100%;
                height: 20px;
                white-space: nowrap;
                text-overflow: ellipsis;
                left: auto;
                right: 56px;
                text-align: right;
              }
            }
            .message-is-seller {
              margin: 8px 0 0;
              padding: 4px;
              background: #fbf0e6;
              color: #000;
              border-radius: 2px;
              font-size: 12px;
              vertical-align: top;
            }
          }
          .message-body {
            width: 570px;
            float: left;
            position: relative;
            padding: 16px;
            background: #fbf0e6;
            border-radius: 15px;
            line-height: 1.5;
            word-break: break-all;
            .message-icons {
              margin: 8px 0 0;
              i.fa.fa-flag-o {
                vertical-align: middle;
                font-size: 16px;
              }
              time-ago {
                vertical-align: middle;
                font-size: 14px;
              }
              time {
                display: block;
                color: #aaa;
                float: left;
              }
              .message-icon-right {
                float: right;
                .delete-comment {
                  float: right;
                  margin: 0 0 0 8px;
                  i.fa.fa-trash-o {
                    color: #aaa;
                    background: #fbf0e6;
                    font-size: 16px;
                  }
                }
                form {
                  float: left;
                  button {
                    border: none;
                    .fa-flag-o {
                      color: #aaa;
                      background: #fbf0e6;
                    }
                  }
                }
              }
            }
          }
        }
        .message-left {
          margin: 60px 0 0;
          .message-user {
            float: left;
            position: relative;
            top: -25px;
            display: inline-block;
            color: $black;
            figure {
              div {
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 50%;
                img {
                  height: 40px;
                  width: 40px;
                  vertical-align: middle;
                }
              }
              figcaption {
                font-weight: 600;
                width: 600px;
                min-width: 600px;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 56px;
                min-width: 100%;
                height: 20px;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
            .message-is-seller {
              margin: 8px 0 0;
              padding: 4px;
              background: #eef0f4;
              color: #000;
              border-radius: 2px;
              font-size: 12px;
              vertical-align: top;
            }
          }
          .message-body {
            width: 570px;
            float: right;
            position: relative;
            padding: 16px;
            background: #eef0f4;
            border-radius: 15px;
            line-height: 1.5;
            word-break: break-all;
            .message-icons {
              margin: 8px 0 0;
              i.fa.fa-flag-o {
                vertical-align: middle;
                font-size: 16px;
              }
              time-ago {
                vertical-align: middle;
                font-size: 14px;
              }
              time {
                display: block;
                color: #aaa;
                float: left;
              }
              .message-icon-right {
                float: right;
                .delete-comment {
                  float: right;
                  margin: 0 0 0 8px;
                  i.fa.fa-trash-o {
                    color: #aaa;
                    background: #eef0f4;
                    font-size: 16px;
                  }
                }
                form {
                  float: left;
                }
                button {
                  border: none;
                  .fa-flag {
                    color: #aaa;
                    background: #eef0f4;
                  }
                }
              }
            }
          }
        }
      }
    }
    .message-content {
      p {
        display: block;
        margin: 0 auto;
        padding: 8px;
        font-size: 14px;
        background: #fff6de;
      }
      .textarea-default {
        margin: 8px 0 0;
        display: block;
        width: 630px;
        max-width: 100%;
        min-height: 104px;
        border: 1px solid #ccc;
        background: $white;
        font-size: 16px;
        line-height: 1.5;
      }
      .btn-default {
        border: 1px solid #888;
        background: #888;
        color: $white;
        cursor: not-allowed;
        line-height: 48px;
        display: block;
      }
      .message-submit {
        width: 100%;
        height: 48px;
        margin: 8px 0 0;
        font-size: 0;
        text-align: center;
        background: #aaa;
        border: 1px solid #aaa;
        color: $white;
      }
      .new_comment {
        p {
          padding: 8px;
          font-size: 14px;
          background: #fff6de;
        }
        .textarea-default {
          margin: 8px 0 0;
          display: block;
          width: 630px;
          max-width: 100%;
          min-height: 104px;
          padding: 10px;
          border: 1px solid #ccc;
          font-size: 16px;
          line-height: 1.5;
          background: #f5f5f5;
        }
        .btn-default {
          border: 1px solid #888;
          background: #888;
          color: $white;
          cursor: not-allowed;
          line-height: 48px;
          display: block;
        }
        .message-submit {
          width: 100%;
          margin: 8px 0 0;
          text-align: center;
          font-size: 14px;
          color: $white;
        }
      }
    }
  }
}


.nav-item-link-prev-next {
  margin: 24px auto 0;
  width: 700px;
  font-size: 14px;
  a:hover {
    text-decoration: underline;
    opacity: 0.5;
  }
  li {
    position: relative;
    width: 43%;
    word-wrap: break-word;
  }
  .nav-item-link-prev {
    float: left;
    padding: 0 0 0 14px;
  }
  .nav-item-link-next {
    float: right;
    padding: 0 14px 0 0;
    text-align: right;
  }
  .arrow-icon {
    font-size: 20px;
  }
}

.item-social-media-box {
  margin: 70px auto 24px;
  padding-bottom: 24px;
  width: 700px;
  background: $white;
  .text-center {
    text-align: center;
    .fb-save {
      display: inline-block;
      position: relative;
    }
  }
  .social-media-box {
    margin: 16px 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    &__icon {
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
      font-weight: 400;
      width: 44px;
      height: 44px;
      line-height: 44px;
      font-size: 35px;
      .facebook {
        background-color: #385185;
        color: $white;
        height: 100%;
        width: 100%;
        line-height: 44px;
        border-radius: 10px;
      }
      .twitter {
        background-color: #5d9dc9;
        color: $white;
        height: 100%;
        width: 100%;
        line-height: 44px;
        border-radius: 10px;
      }
      .pinterest {
        background-color: #aa262a;
        color: $white;
        height: 100%;
        width: 100%;
        line-height: 44px;
        border-radius: 10px;
      }
    }
  }
}

.items-in-user-profile {
  width: 700px;
  margin: 0 auto;
  .items-box-head {
    margin-bottom: 6px;
  }
  .items-box {
    display: flex;
    color: $black;
    width: 940px;
    margin: 0 auto;
    a:link {
     color: $black;
    }
    a:visited {
     color: $black;
    }
    a:hover {
     color: $black;
     text-decoration: none;
    }
    .items-box-content:first-child {
      margin: 0 0 20px 0;
    }
    .items-box-content {
      position: relative;
      text-align: left;
      width: 220px;
      margin: 0 0 20px 20px;
      float: left;
      background: $white;
      padding: 0;
      &-photo {
      width: 220px;
      height: 220px;
      }
      &-body {
        height: 110px;
        padding: 16px;
      }
      &-name {
        overflow: hidden;
        font-weight: 400;
        height: 3em;
        line-height: 1.5;
        word-break: break-word;
        white-space: normal;
        text-align: left;
        font-size: 16px;
      }
      &-num {
        margin: 8px 0 0;
        display: flex;
        justify-content: space-between;
      }
      &-price {
        float: left;
        font-size: 16px;
        font-weight: 600;
        p {
          font-size: 10px;
          clear: both;
          text-align: left;
          font-weight: 400;
        }
      }
      &-likes {
        float: right;
        font-size: 16px;
        font-weight: 400;
        margin-left: auto;
        .heart {
          color: lightgray;
        }
      }
    }
  }
}

.item-button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 40px;
}

