*{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

html{
  font-size: 62.5%;
}

body{
  background-color: #f5f5f5;
  font-size: 1.4em;
}

a{
  text-decoration: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

//ユーザーマイページmixin
@mixin mypage-tabs{
  background-color: #eee;
  font-size: 0;
  li{
    width: 50%;
    display: inline-block;
    text-align: center;
    font-size: 1.4rem;
    line-height: 74px;
  }
  li.active{
    background-color: #fff;
  }
}

@mixin tab-content-left{
  display: none;
  li{
    height: 80px;
    background-color: #fff;
    border-bottom: solid 1px #eee;
  }
  .mypage-go-list{
    height: 56px;
    padding: 16px;
    background-color: #fff;
    a{
      display: block;
      line-height: 56px;
      text-align: center;
      background-color: #eee;
      color: #333;
    }
  }
}

@mixin tab-content-right{
  display: none;
  li{
    height: 80px;
    background-color: #fff;
    border-bottom: solid 1px #eee;
  }
  .mypage-go-list{
    height: 56px;
    padding: 16px;
    background-color: #fff;
    a{
      display: block;
      line-height: 56px;
      text-align: center;
      background-color: #eee;
      color: #333;
    }
  }
}
//ユーザーマイページcss
.container{
  width: 1020px;
  margin: 40px auto;
  .mypage{
    width: 700px;
    float: right;
    &__user-icon{
      height: 200px;
      background-image: url(user-bg.jpg);
      background-size: cover;
      padding: 20px;
      text-align: center;
      position: relative;
      a{
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        left: 0px;
        right: 0px;
        color: #333;
        figure{
          width: 60px;
          height: 60px;
          margin: 0 auto;
          border-radius: 50%;
          overflow: hidden; 
        }
        h2{
          font-size: 14px;
        }
        .mypage-number{
          margin-top: 8px;
          font-size: 0;
          &__rate{
            display: inline-block;
            font-size: 1.4rem;
          }
          &__listings{
            display: inline-block;
            font-size: 1.4rem;
            margin-left: 16px;
          }
        }
      }
    }
    &__tab-container-notification-todo{
      ul.mypage-tabs{
        @include mypage-tabs
      }
      .tab-content{
        ul#mypage-tab-notification{
          @include tab-content-left
        }
        ul#mypage-tab-todo{
          @include tab-content-right
        }
        ul#mypage-tab-notification.active{
          display: block;
        }
        ul#mypage-tab-todo.active{
          display: block;
        }
      }
    }
    &__tab-container{
      margin-top: 40px;
      h2{
        padding: 0px 16px;
        background: #fafafa;
        font-size: 16px;
        line-height: 72px;
      }
      ul.transaction-mypage-tabs{
        @include mypage-tabs
      }
      .transaction-tab-content{
        ul#mypage-tab-transaction-now{
          @include tab-content-left
        }
        ul#mypage-tab-transaction-old{
          @include tab-content-right
        }
        ul#mypage-tab-transaction-now.active{
          display: block;
        }
        ul#mypage-tab-transaction-old.active{
          display: block;
        }
      }
    }
  }

  .sidebar{
    float: left;
    width: 280px;
    margin-right: 40px;
    &__list{
      &__element{
        a{
          display: block;
          padding: 16px;
          background-color: #fff;
          color: #333;
          position: relative;
          font-size: 1.3rem;
          .fa-chevron-right{
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            right: 16px;
            color: #ccc;
            transition: all ease-out .2s;
          }
          &:hover {
            background-color: #eee;
            .fa-chevron-right{
              transform: translate(10px,-50%);
              color: #333;
            }
          }
        }
      }
    }
    &__head{
      margin: 40px 0px 8px;
    }
  }
}